<!DOCTYPE html>
<html>
<head>
    <title>Picture Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{url_for('static', filename='/css/Pic_search.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{url_for('static', filename='/js/Picture_Search.js')}}"></script>
</head>
<body style="margin-right:20px ;margin-left: 20px;">
    <h1 class="header">上傳圖片挑選顏色</h1>
    <br/>
    <form action="/passform" method="POST" class="form">
        <div class="update">
            <input type="file" id="imageUpload"onchange="readURL(this)" targetID="img" accept="image/*"aria-label="c">
            <canvas id="canvas" width=500px height=500px style=" border:1px solid #000000; ">
                <img id="img" src="#" aria-label="c">
            </canvas>
        </div>
        <div class="colorArea">
            點擊下列可能顏色或<br>圖片中的顏色來確認顏色
            <input type="color" id="confirmColor" name="confirmColor"  aria-label="c" style="pointer-events: none" tabindex="-1"><br>
            <input type="submit"aria-label="c">
            選取:<div id="color" style="width: 100px;height: 30px;"></div><br>
            可能的顏色:<div id="P0"class="P"></div>
            <div id="P1"class="P"></div>
            <div id="P2"class="P"></div>
            <div id="P3"class="P"></div>
            <div id="P4"class="P"></div>
            <div id="P5"class="P"></div>
            <div id="P6"class="P"></div>
            <div id="P7"class="P"></div>
            <div id="P8"class="P"></div>
            <div id="P9"class="P"></div>
            <div id="P10"class="P"></div>
        </div>
        </form>
</body>
</html>
